/* VARS */
@backgroundUrl: "../images/bg.jpg";

@font-face{	font-family:din; src:url('font/DINPro.eot'); src:url('font/DINPro.eot?#iefix') format('embedded-opentype'), url('font/DINPro.woff') format('woff'),url('font/DINPro.svg#open_sansbold') format('svg'); font-style:normal; }
@font-face{	font-family:din-bold; src:url('font/DINProBold.eot'); src:url('font/DINProBold.eot?#iefix') format('embedded-opentype'), url('font/DINProBold.woff') format('woff'),url('font/DINProBold.svg#open_sansbold') format('svg'); font-style:normal; }
@font-face{	font-family:din-light; src:url('font/DINProLight.eot'); src:url('font/DINProLight.eot?#iefix') format('embedded-opentype'), url('font/DINProLight.woff') format('woff'),url('font/DINProLight.svg#open_sansbold') format('svg'); font-style:normal; }
@font-face{	font-family:din-medium; src:url('font/DINProMedium.eot'); src:url('font/DINProMedium.eot?#iefix') format('embedded-opentype'), url('font/DINProMedium.woff') format('woff'),url('font/DINProMedium.svg#open_sansbold') format('svg'); font-style:normal; }

/* GENERIC */
* { font-family: din; color:#fff; text-align: left; font-size: 14px; line-height: 16px; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }
strong {font-family: din-bold;} 
body,html{ height: 100%; }
a{ color: #fff; font-family: din-bold; margin-right: 15px; }
a:hover{ text-decoration: none; color: #ffff4a; }
a:last-child{ margin-right: 0; }

/* TOOLS */
.coverImage{
	background-size: auto, cover;
}
.amarelo{ color: #ffff4a; }

/* BASE */
.max-width{ max-width: 996px; margin: 0 auto; }
.light{ font-family: din-light; }
.medium{ font-family: din-medium; }
.btn-primario{ font-family: din-bold; color: #fff; background-color: #75ccd0; }
.w100{ width: 100%;}
.legenda{ font-size: 11px; }

/* OBJECTS */
.landingBackground{ background:  url('../images/bg-patern.png'), url(@backgroundUrl) no-repeat center center fixed; .coverImage }

.top-bar{ width: 100%; height:56px; background-color: #000; display: inline-block; margin: 0; text-align: center; padding: 15px 0px; }
.max-width{ width: 996px; margin: 0 auto; display: inline-block; }
.content{ height: calc(~'100% - 56px'); text-align: center; margin-top: 50px; }

.logo{ background-color: #000; text-align: center; padding: 56px 30px; margin-top: 31px; }

.form-hold{ background-color: rgba(0,0,0,.5); padding-bottom: 20px; }
	.form-hold h1{ margin-top: 0;}
.horario{ margin-top: 7px;}
.error{ color: #FF6666; }

/* COMPONENTS */

/* TRUMPS */