<!doctype html>
<html ng-app="cfmAdmin">

<head>
    <meta charset="utf-8">
    <title>Crossfit Mansion - Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <link rel="shortcut icon" href="favicon.ico">
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/animate.min.css" rel="stylesheet">
	<link href="style/admin.css" rel="stylesheet">
</head>

<body ng-controller="MainCtrl as vmMain">
	<div class="alert animated" ng-if="error" role="alert" ng-class="{'alert-success fadeInDown': error && error.type=='success', 'alert-info fadeInDown': error && error.type=='info', 'alert-danger fadeInDown': error && error.type=='error', 'fadeOutUp': !error}">
		{{error.mensagem}} <button ng-click="error=undefined" class="btn btn-link pull-right"><span class="glyphicon glyphicon-remove"></span></button>
	</div>
	<nav class="navbar navbar-default hidden" ng-show="vmMain.topMenu" ng-hide="!vmMain.topMenu">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><img src="images/logo-horizontal.png" height="100%"/></a>
			</div>
	    </div>
	</nav>
	
	<div ng-view class="container"></div>
		
	<script src="assets/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/angular.min.js"></script>
	<script src="assets/angular-route.min.js"></script>
	<script src="assets/ui-bootstrap.min.js"></script>
	<!--CTRLs-->
	<script src="cfm.module.js"></script>
	<script src="controller/main.js"></script>
	<script src="controller/login.js"></script>
	<!--CONSTANTs-->
	<script src="constants/config.js"></script>
	<!--SERVICEs-->
	<script src="service/login.js"></script>
</body>

</html>
