<form class="form-cadastro">
	<p class="text-center">
		<img src="images/logo-vertical.png" width="100%" />
	</p>
	<br/>
	<div class="form-group">
		<label for="inputEmail" class="sr-only">E-mail</label>
		<input type="email" id="inputEmail" class="form-control" placeholder="email@crossfitmansion.com.br" required="" autofocus="" ng-model="vm.email">
	</div>
	<div class="form-group">
		<label for="inputPassword" class="sr-only">Senha</label>
		<input type="password" id="inputPassword" ng-model="vm.senha" class="form-control" placeholder="senha" required="">
	</div>
	<div class="form-group">
		<label for="reinputPassword" class="sr-only">Confirmar Senha</label>
		<input type="password" id="reinputPassword" ng-model="vm.resenha" class="form-control" placeholder="confirmar senha" required="">
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.cadastrar()">Cadastrar</button>
	<a class="btn btn-link" ng-href="#/">Voltar para página de login.</a>
</form>
