<form class="form-signin">
	<p class="text-center">
		<img src="images/logo-vertical.png" width="100%" />
	</p>
	<br/>
	<label for="inputEmail" class="sr-only">E-mail</label>
	<input type="email" id="inputEmail" class="form-control" placeholder="email@crossfitmansion.com.br" required="" autofocus="" ng-model="vm.email">
	<label for="inputPassword" class="sr-only">Senha</label>
	<input type="password" id="inputPassword" ng-model="vm.senha" class="form-control" placeholder="senha" required="">
	<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.login()">Entrar</button>
	<a class="btn btn-link" ng-href="#/redefinir-senha">Esqueci minha senha.</a>
	<a class="btn btn-link" ng-href="#/cadastrar">Não tem login? Clique aqui para criar.</a>
</form>
