<div class="max-width">
	<div class="row">
		<div class="col-xs-3 logo">
			<img src="../images/logo-bco.png"/>
		</div>
		<div class="col-xs-7 col-xs-offset-1 form-hold">
			<form ng-if="!vm.sended" class="animated fadeIn">
				<fieldset>
					<br/>
					<div class="row">
						<div class="col-xs-12">
							<h1>Inauguração dia 05/03/2015</h1>
							<p class="light">
							Sumaré vai ganhar um espaço para a prática de CrossFit com os melhores equipamentos da modalidade, teto retrátil, equipe multidisciplinar e duas salas independentes. Faça um <span class="amarelo">pré-cadastro</span> para garantir <span class="amarelo">desconto</span> nas mensalidades, além de um <span class="amarelo">brinde</span> exclusivo na <span class="amarelo">inauguração</span><sub>*</sub>.</p>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="vm.form.nome" placeholder="Nome"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-7">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="vm.form.email" placeholder="Email"/>
							</div>
						</div>
						<div class="col-xs-5">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="vm.form.telefone" ui-br-phone-number placeholder="Telefone"/>
							</div>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-xs-5 text-right">
							<label class="horario">Horário preferido para treinar:</label>
						</div>
						<div class="col-xs-2">
							<div class="form-group">
								<input type="text" class="form-control" ng-model="vm.form.horario" ui-time-mask="short" placeholder="00:00"/>
							</div>
						</div>
						<div class="col-xs-4 col-xs-offset-1">
							<div class="form-group">
								<button type="button" class="btn btn-primario w100" ng-click="vm.cadastrar()">Cadastrar</button>
							</div>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-xs-12">
							<p ng-if="vm.error" class="error">{{vm.error}}</p>
							<span class="legenda"><sup>*</sup>Promoção válida para matrículas efetuadas na inauguração.</span>
						</div>
					</div>
				</fieldset>
					<br/>
					<div class="row">
						<div class="col-xs-12"><h2>Confira a programação</h2></div>
					</div>
					<div class="row">
						<div class="col-xs-3 text-right">
							<p class="text-right">10h</p>
							<p class="text-right">11h</p>
							<p class="text-right">11:30</p>
							<p class="text-right">12h</p>
							<p class="text-right">13, 14, 15 e 16h</p> 
							<p class="text-right">17h</p>
						</div>
						<div class="col-xs-8 medium">
							<p>Abertura do box</p>
							<p>Aula atletas de elite</p>
							<p>Aula cadeirantes</p>
							<p>Aula com atletas e cadeirantes</p>
							<p>Aula aberta ao público</p>
							<p>Enceramento</p>
						</div>
					</div>
			</form>
			<p ng-if="vm.sended">{{vm.success}}</p>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-5 text-right">
			<a href="http://www.instagram.com/crossfitmansion" target="_blank"><img src="../images/ico-ig.png"/> @croosfitmansion</a>
			<a href="http://www.facebook.com/crossfitmansion" target="_blank"><img src="../images/ico-fb.png"/> /croosfitmansion</a>
		</div>
	</div>
</div>