<!DOCTYPE html>
<html lang="pt-br" ng-app="cfm">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" href="images/favico.ico">
	<link rel="shortcut icon" href="images/favico.ico">
	<title>Crossfit Mansion</title>
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="bower_components/animate.css/animate.min.css" rel="stylesheet">
	<link rel="stylesheet/less" type="text/css" href="style/main.less" />
</head>
<body class="landingBackground" ng-controller="MainCtrl as vmMain" ng-cloak>
	<div class="top-bar">
		<div class="row max-width">
			<div class="col-xs-5">
				FALTAM APENAS <strong>{{ vmMain.countdown }}</strong> DIAS PARA A INAUGURAÇÃO - {{ vmMain.deadline | date:'dd/MM'}}
			</div>	
			<div class="col-xs-4 col-xs-offset-3 text-right">
				<span class="amarelo">AVENIDA SUMARÉ, 1744</span>
			</div>
		</div>
	</div>
	<div ng-view class="content"></div>
	
	<!-- 3RD PARTY -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/less/dist/less.min.js"></script>
	<script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
	<!-- MODULES -->
	<script src="app.js"></script>
	<!-- CONTROLLERS -->
	<script src="controller/main.js"></script>
	<script src="controller/home.js"></script>
	<!-- SERVICES -->
	<script src="services/sendMail.js"></script>
</body>
</html>